@model MapDirections.Models.Mall

@{
    ViewData["Title"] = "Create";
}
<div class="d-flex justify-content-end align-items-end mb-3">
    <form asp-action="Upload" enctype="multipart/form-data" class="d-flex gap-2 align-items-center" id="fileUploadForm">
        <input type="file" name="file" class="form-control form-control-sm" id="fileInput" style="display: none;"
            onchange="submitForm()">

        <button type="button" class="btn btn-success" onclick="triggerFileInput()">Import</button>
    </form>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateMall">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpeningHours" class="control-label"></label>
                    <input asp-for="OpeningHours" class="form-control" />
                    <span asp-validation-for="OpeningHours" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="d-flex gap-3">
                    <div class="form-group mt-2">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                    <div class="form-group mt-2">
                        <a class="btn btn-outline-info" asp-action="Index">Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            function triggerFileInput() {
                document.getElementById('fileInput').click();
            }

            function submitForm() {
                var fileInput = document.getElementById('fileInput');
                var form = document.getElementById('fileUploadForm');

                if (fileInput.files.length > 0) {
                    form.submit();
                }
            }
        </script>

    }
}
