@using Microsoft.AspNetCore.Identity;
@using MapDirections.Models;
@model IEnumerable<UserWithRole>

<table class="table">
    <thead>
        <tr>
            <th>Tên đăng nhập</th>
            <th>Quyền</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.UserName</td>
                <td>
                    @foreach (var role in item.Role)
                    {
                        <span>@role</span>

                        <br />
                    }
                </td>
                <td>
                    <a asp-controller="Admin" class="btn btn-primary" asp-action="AssignRole"
                        asp-route-UserId="@item.User.Id">Thêm Quyền</a>
                </td>
            </tr>
        }
    </tbody>
</table>
